.App {
  text-align: center;
}

.App-title {
  font-family: 'Rye', cursive;
  color: #b76027;
  margin: 0;
  position: fixed;
  top: 0;
  display: inline-block;
  left: 50%;
  font-size: 7em;
  padding-top: .2em;
}

.speech-bubble,
.meowdy {
  display: none;
  position: fixed;
  color: #b76027;
}

.speech-bubble {
  top: 5%;
  left: 32%;
  font-size: 10em;
}

.meowdy {
  top: 12%;
  left: 33.5%;
  font-size:1em;
}

.background-events {
  position: fixed;
}

.background-events:hover > .speech-bubble {
  display: block;
}

.background-events:hover > .meowdy {
  display: block;
}

@media screen and (max-width: 75em) {
  .App-title
   {
    font-size: 5em;
  }
}

@media screen and (max-width: 60em) {
  .App-title
   {
    font-size: 4em;
  }
}

@media screen and (max-width: 40em) {
  .App-title
   {
    font-size: 100%;
  }
}