.App {
  text-align: center;
}

.App-title {
  font-family: 'Rye', cursive;
  color: #b76027;
  margin: 0;
  position: fixed;
  top: 0;
  left: 50%;
  font-size: 7em;
  padding-top: .2em;
}

.meowdy
.speech-bubble {
  margin: 10%;
}

.speech-bubble {
  display: none;
  position: fixed;
  top: 5%;
  left: 32%;
  font-size: 10em;
  color: #b76027;
}

.meowdy {
  display: none;
  position: fixed;
  top: 12%;
  left: 33.5%;
  font-size:1em;
  color: #b76027;
}

.background-events:hover > .speech-bubble {
  display: block;
}

.background-events:hover > .meowdy {
  display: block;
}

.routes {
  display: flex;
}
