.cat-container {
  display: flex;
  position: sticky;
  flex-wrap: wrap;
  grid-gap: 0px;
  color: #FFF;
  justify-content: center;
}

.cat-tiles-nav {
  text-decoration: none;
  color: #000;
}

.cat-display {
  margin-top: 15%;
  position: sticky;
}

.error-cat-image {
  width: 80%;
}

.error-tile {
  width: 40%;
  font-size: .5em;
}

.cat-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 10%;
}